@import '../../../sytles/config';

.BuildControls {
  align-items: center;
  background-color: $brandy-punch;
  box-shadow: 0 2px 1px $very-light-grey;
  display: flex;
  flex-flow: column;
  margin: auto;
  padding: 10px 0;
  width: 100%;
}

.OrderButton {
  background-color: $wattle;
  border: 1px solid $corn-harvest;
  box-shadow: 2px 2px 2px $corn-harvest;
  color: $corn-harvest;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2em;
  outline: none;
  padding: 15px 30px;

  &:hover,
  &:active {
    background-color: $conifer;
    border: 1px solid $corn-harvest;
    color: $corn-harvest;
  }

  &:disabled {
    background-color: $silver;
    border: 1px solid $very-light-grey;
    color: $suva-gray;
    cursor: not-allowed;
  }

  &:not(:disabled) {
    animation: enable 0.3s linear;
  }
}

@keyframes enable {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}
