.Burger {
  font-size: 1.2rem;
  font-weight: bold;
  height: 250px;
  margin: auto;
  overflow: auto;
  text-align: center;
  width: 100%;
}

@media (min-width: 500px) and (max-height: 400px) {
  .Burger {
    height: 300px;
    width: 350px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .Burger {
    height: 400px;
    width: 450px;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Burger {
    height: 600px;
    width: 700px;
  }
}
