@import '../../../../sytles/config';

.BuildControl {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;

  .Less {
    background-color: $whiskey-sour;
    color: $white;
  }

  .Less:hover,
  .BuildControl .Less:active {
    background-color: $tumbleweed;
    color: $white;
  }

  .More {
    background-color: $afghan-tan;
    color: $white;
  }

  .More:hover,
  .BuildControl .More:active {
    background-color: $mckenzie;
    color: $white;
  }

  button {
    border: 1px solid $golden-brown;
    cursor: pointer;
    display: block;
    font: inherit;
    margin: 0 5px;
    outline: none;
    padding: 5px;
    width: 80px;

    &:disabled {
      background-color: $bronco;
      border: 1px solid $arrowtown;
      color: #ccc;
      cursor: default;
    }

    &:hover:disabled {
      background-color: $bronco;
      color: $very-light-grey;
      cursor: not-allowed;
    }
  }
}

.Label {
  font-weight: bold;
  padding: 10px;
  width: 80px;
}
