@import '../../../sytles/config';

.Button {
  background-color: transparent;
  border: none;
  color: $white;
  cursor: pointer;
  outline: none;
  font: inherit;
  font-weight: bold;
  margin: 10px;
  padding: 10px;

  &:first-of-type {
    margin-left: 0;
    padding-left: 0;
  }

  &:disabled {
    color: #aaa;
    cursor: not-allowed;
  }
}

.Success {
  color: #5c9210;
}

.Danger {
  color: #944317;
}
