@import '../../../sytles/config';

.NavigationItem {
  box-sizing: border-box;
  display: block;
  margin: 10px 0;
  width: 100%;

  a {
    box-sizing: border-box;
    display: block;
    color: $rusty-nail;
    text-decoration: none;
    width: 100%;

    &:hover,
    &:active,
    &.active {
      color: $viking;
    }
  };
}

@media (min-width: 500px) {
  .NavigationItem {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0;
    width: auto;

    a {
      border-bottom: 4px solid transparent;
      color: $white;
      height: 100%;
      padding: 16px 10px;

      &:hover,
      &:active,
      &.active {
        background-color: $rusty-nail;
        border-bottom: 4px solid $viking;
        color: $white;
      }
    }
  }
}
