@import '../../../sytles/config';

.BreadBottom {
  background: linear-gradient($sea-buckthorn, $tree-poppy);
  border-radius: 0 0 30px 30px;
  box-shadow: inset -15px 0 $rust;
  height: 13%;
  margin: 2% auto;
  width: 80%;
}

.BreadTop {
  background: linear-gradient($chocolate, $tree-poppy);
  border-radius: 50% 50% 0 0;
  box-shadow: inset -15px 0 $rust;
  height: 20%;
  margin: 2% auto;
  position: relative;
  width: 80%;
}

.Seeds1 {
  @include seeds(10%, 15%, 30%, 50%, -20deg, -2px, -3px, $very-light-grey);

  &::after {
    @include seeds(100%, 100%, -170%, -260%, 60deg, -1px, 2px, $very-light-grey);
  }

  &::before {
    @include seeds(100%, 100%, 180%, -50%, 60deg, -1px, -3px, $very-light-grey);
  }
}

.Seeds2 {
  @include seeds(10%, 15%, 64%, 50%, 10deg, -3px, 0, $very-light-grey);

  &::before {
    @include seeds(100%, 100%, 150%, -130%, 90deg, 1px, 3px, $very-light-grey);
  }
}



.Meat {
  @include ingredient($saddle-brown, $maroon, 15px, 8%, 80%);
}

.Cheese {
  @include ingredient($tangerine-yellow, $barberry, 20px, 4.5%, 90%);
}

.Salad {
  @include ingredient($forest-green, $atlantis, 20px, 7%, 85%);
}

.Bacon {
  @include ingredient($harley-davidson-orange, $ecstasy, 0, 3%, 80%);
}
