@import '../../../sytles/config';

.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  border: 2px solid $very-light-grey;
  background-color: $white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    outline: none;
    background-color: $very-light-grey;
  }
}

.Invalid {
  border: 2px solid $red;
  background-color: $rose-bud;
}

.ValidationError {
  color: $red;
  margin: 5px 0;

  span {
    text-transform: capitalize;
  }
}
