// BurgerIngredient
$brandy-punch: #cf8f2e;
$very-light-grey: #ccc;
$wattle: #dad735;
$corn-harvest: #966909;
$conifer: #a0db41;
$suva-gray: #888;
$silver: #c7c6c6;
$white: #fff;
$sea-buckthorn: #f08e4a;
$tree-poppy: #e27b36;
$rust: #c15711;
$chocolate: #bc581e;
$saddle-brown: #7f3608;
$maroon: #702e05;
$tangerine-yellow: #f4d004;
$barberry: #d6bb22;
$forest-green: #228c1d;
$atlantis: #91ce50;
$harley-davidson-orange: #bf3813;
$ecstasy: #c45e38;

// BuildControl
$whiskey-sour: #d39952;
$tumbleweed: #daa972;
$mckenzie: #99703f;
$afghan-tan: #8f5e1e;
$golden-brown: #aa6817;
$bronco: #ac9980;
$arrowtown: #7e7365;

// NavigarionIntem
$rusty-nail: #8f5c2c;
$viking: #40a4c8;

// Input
$red: ff0000;
$rose-bud: #ffa7a6;

// Modal
$black: #111;
